.container {
    display: grid;
    grid-template-columns: 1.4fr 8.6fr;
    height: 100vh;
}

.main {
    background-color: #f5f5f5;
    padding: 0.2em 2em 1em 2em;
    display: flex;
    flex-direction: column;
}