.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 1em 0.1em 1.1em 0.1em;
    margin: 0.5em;
    border-bottom: 0.6px solid #dfdbdb;
}

.header-container>div {
    margin: auto;
    padding: 0.5em;
}

.header-container .header-item.title {
    flex: 4;
    color: rgb(85, 85, 85);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.header-container .header-item.search-box {
    flex: 2;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 25px;
    padding: 5px;
    background-color: #ebebeb;
    border-radius: 4px;
}

.header-container .header-item.search-box input {
    border: none;
    width: 240px;
    height: 18px;
    background-color: #ebebeb;
}

.header-container .header-item.search-box input:focus {
    outline: none;
}

.header-container .header-item.search-box input:placeholder-shown {
    font-size: 11px;
    color: #e7e7e7;
}

.header-container .header-item.admin-menu {
    flex: 0.5;
    text-align: right;
    font-size: 10px;
    font-weight: 500;
    margin-left: 45px;
    color: rgb(85, 85, 85);
}

.header-container .header-item.admin-menu:hover {
    cursor: pointer;
}

.fa.fa-caret-down {
    padding-left: 5px;
    color: rgb(85, 85, 85);
}

.fa.fa-search {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    pointer-events: none;
    color: #cac7c7;
}